<%= form_with(model: @article, local: true) do |form| %>
    <div class="mb-3">
        <%= form.label :title, "Título", class:"form-label" %>
        <%= form.text_field :title, class:"form-control" %>
        <div id="emailHelp" class="form-text">Escoja un gran título para su artículo.</div>
    </div>
    <div class="overflox-modificate mb-3">
        <%= form.label :content, "Contenido",  class:"form-label"%>
        <%= form.rich_text_area :content %>
    </div>
    <div class="form-check">
        <%= form.label :category_elements, "Seleccione las categorias del artículo"%>
        <div class="form-check-label">
            <% @categories.each do |category| %>
                <label class="col-6 col-sm-4">
                    <%= category.title%>
                    <%= form.check_box :category_elements, {multiple: true}, category.id, nil %>
                </label>
            <% end %>   
        </div>
        <div id="emailHelp" class="form-text">Si no escoge una categoria se creara el artículo sin ninguna clasificación.</div>
    </div>
    <div>
        <%= form.submit "Guardar", class:"btn btn-primary"%>
    </div>
<% end %>