<%= form_with(model: @article, local: true) do |form| %>
    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div class="field">
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
    </div>
    <div>
        <%= form.label :category_elements, "Seleccione las categorias del artículo"%>
        <div class="row">
            <% @categories.each do |category| %>
                <label class="col-6 col-sm-4">
                    <%= category.title%>
                    <%= form.check_box :category_elements, {multiple: true}, category.id, nil %>
                </label>
            <% end %>   
        </div>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>