<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Editar", edit_category_path(@category) %> |
  <%= link_to "Volver a la lista de categorias", categories_path %>

  <%= button_to "Eliminar esta categoria", @category, method: :delete %>
</div>
