<!DOCTYPE html>
<html>
  <head>
    <title>AppBlogWithRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if noticec%>
    <p class="alert alert-primary"><%= notice %></p>
    <% end %>
    
    <% if notice %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
